@using WebUi.Models
@model OptionsViewModel
@{
    ViewBag.Title = "Options";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
</head>

<body>
    <div id="showOptionsDialog" data-role="page">
        <div data-role="header">
            <h1>Options - @Model.ShowName</h1>
        </div>
        <div data-role="content">
            <label>Current episode: @Model.CurrentEpisode</label>
            <input type="hidden" id="currentSourceId" value="@Model.SourceId"/>
            <a id="back-ref" href="#" data-role="button" data-rel="back">Back</a>
            <div data-role="fieldcontain">
                @using (Html.BeginForm()) 
                {
                <fieldset data-role="controlgroup">
    	            <legend>How far have you watched?</legend>
         	            <input type="radio" name="RadioChoiceWatched" id="radio-choice-episode" value="choice-episode" checked="checked" />
         	            <label for="radio-choice-episode">Current episode</label>

         	            <input type="radio" name="RadioChoiceWatched" id="radio-choice-season" value="choice-season"  />
         	            <label for="radio-choice-season">Current season</label>

         	            <input type="radio" name="RadioChoiceWatched" id="radio-choice-custom" value="choice-custom"  />
         	            <label for="radio-choice-custom">Custom</label>
                        <input type="text" name="RadioChoiceCustom" id="RadioChoiceCustom" value="" placeholder="03x12 for example" />

                        <input type="submit" value="Submit" data-role="button" />
                </fieldset>                
                }
            </div>
        </div>
    </div>
</body>
</html>