@model WebUi.Models.ShowDialogViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Model.ShowName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
</head>
<body>
<div data-role="page">
    <div data-role="header">
        <h1>Options</h1>
    </div>
    <div data-role="content">
        <a href="@Url.Action("Index", "WatchList")" data-role="button" data-rel="back">Back</a>
        <a href="@Url.Action("Watched", "WatchList", new {Model.SourceId})" data-role="button">Watched Episode</a>
        <a href="@Url.Action("WatchedSeason", "WatchList", new { Model.SourceId })" data-role="button">Watched Season</a>
    </div>
</div>
</body>
</html>
