@using TvMvc3.Integration.CouchDb.Source
@model IEnumerable<SourceShowInfo>

@{
    ViewBag.Title = "Search";
}
<ul data-role="listview">
    <li data-role="list-divider">Hits</li>
@foreach (var item in Model)
{   
    <li>    
        <a href="@Url.Action("Add", "Show", new { externalId = item.SourceId })">
            @item.Name
        </a>
    </li>
}
@if (!Model.Any()) {
    <li>@Html.ActionLink("Back", "Index", "WatchList")</li>
}
</ul>